/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ea638c;
  --button-color: #89023e;
  --text-color: #ffd9da;
  --button-hover-color: #1b2021;
}

body {
  font-family: "Eczar", serif;
  line-height: 1.3;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

/* Search bar */
input {
  padding: 5px 5px 0 5px;
  background-color: var(--text-color);
  color: var(--button-color);
  font-family: inherit;
  caret-color: transparent;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: min(320px, 90vw);
  border-radius: 12px;
  border: 0;
}

input:focus {
  transform: scale(1.04);
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Gif */
img {
  border-radius: 5px;
  height: auto;
  width: 320px;
}

/* Search button */
a {
  width: 320px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px 8px 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  border-radius: 12px;
}

a.hover-on:hover {
  background-color: var(--button-hover-color) !important;
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

a:focus {
  outline: none;
}
